apiVersion: v1
kind: Namespace
metadata:
  name: mis-prod
  labels:
    name: mis-prod
    istio-injection: disabled
---
apiVersion: v1
kind: Namespace
metadata:
  name: observability
  labels:
    name: observability
---
apiVersion: v1
kind: Namespace
metadata:
  name: security
  labels:
    name: security
