apiVersion: v1
kind: Service
metadata:
  name: backend-active
  namespace: mis-prod
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 80
      targetPort: 8000
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: backend-preview
  namespace: mis-prod
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 80
      targetPort: 8000
  type: ClusterIP
