controller:
  replicaCount: 3
  ingressClassResource:
    name: nginx
    default: true
  service:
    type: LoadBalancer
    externalTrafficPolicy: Local
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: external
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
      service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
      service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
  config:
    use-forwarded-headers: "true"
    ssl-protocols: TLSv1.2 TLSv1.3
    server-tokens: "false"
  resources:
    requests:
      cpu: 300m
      memory: 512Mi
    limits:
      cpu: 2
      memory: 2Gi
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

defaultBackend:
  enabled: false
