prometheus:
  prometheusSpec:
    replicas: 2
    retention: 30d
    retentionSize: 200GB
    scrapeInterval: 15s
    evaluationInterval: 15s
    enableRemoteWriteReceiver: true
    resources:
      requests:
        cpu: "1"
        memory: 4Gi
      limits:
        cpu: "4"
        memory: 16Gi
  service:
    type: ClusterIP

alertmanager:
  alertmanagerSpec:
    replicas: 3
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: "1"
        memory: 2Gi

kubeStateMetrics:
  enabled: true

grafana:
  replicas: 2
  admin:
    existingSecret: grafana-admin
  persistence:
    enabled: true
    size: 20Gi
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: "1"
      memory: 2Gi
