replicas: 3
logstashPipeline:
  logstash.conf: |
    input {
      beats {
        port => 5044
      }
    }
    filter {
      json {
        source => "message"
      }
    }
    output {
      elasticsearch {
        hosts => ["http://elasticsearch-master:9200"]
        index => "mis-logs-%{+YYYY.MM.dd}"
      }
    }
service:
  type: ClusterIP
  ports:
    - name: beats
      port: 5044
      targetPort: 5044
resources:
  requests:
    cpu: 300m
    memory: 1Gi
  limits:
    cpu: "1"
    memory: 4Gi
