mode: distributed
replicas: 4
persistence:
  enabled: true
  size: 500Gi
resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "2"
    memory: "4Gi"
securityContext:
  enabled: true
  runAsUser: 1000
  fsGroup: 1000
ingress:
  enabled: true
  ingressClassName: nginx
  hostname: minio.onprem.local
tls:
  enabled: true
existingSecret: minio-root-secret
